name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: install and lint
        working-directory: ./scripts
        run: |
          yarn install
          yarn lint
      - name: update papers
        working-directory: ./scripts
        run: |
          rm ../data/papers/Example.ttl
          yarn papers
      - name: build
        working-directory: ./scripts
        run: yarn build
